@using Microsoft.AspNetCore.Http
@using WebStore.Helpers
@model WebStore.Models.StockItem

@{
    ViewData["Title"] = "Details";
    bool admin = Context.Session.GetInt32(SessionKeys.Admin) == 1;
}

<h2>Details</h2>

<div class="center-block">
    <hr />
    <img src="@Model.ImageUrl" alt="@Model.Title" height="400" width="400" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        @if (admin)
        {
            <dt>
                @Html.DisplayNameFor(model => model.StockLevel)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StockLevel)
            </dd>
        }
    </dl>
</div>
<h3 class="text-center">Comments</h3>
<div class="panel-body center-block">
    @foreach (var comment in Model.Comments)
    {
        <div class="panel">
            <div class="panel-heading">
                <p>@comment.Title</p> <p class="small">@comment.User?.Name</p>
            </div>
            <div class="panel-body">
                @comment.Text
            </div>
        </div>
    }    
</div>

<div class="container">
    <h3 class="text-center">Leave A Comment</h3>
    <form asp-action="AddComment" method="post">
        <div class="form-group">
            <label for="title">Email:</label>
            <input type="text" class="form-control" name ="title" placeholder="Enter title">
        </div>
        <div class="form-group">
            <label for="text">Password:</label>
            <input type="text" class="form-control" name ="text" placeholder="Enter text">
        </div>
        <input type="hidden" name="itemID" value="@Model.ID" />
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

<h3 class="text-center">Comments</h3>
<div class="panel-body center-block">
    @foreach (var rating in Model.Ratings)
    {
        <div class="panel">
            <div class="panel-heading">
                <p>@rating.Score</p> 
            </div>
        </div>
    }
</div>

<div class="container">
    <h3 class="text-center">Leave A Rating</h3>
    <form asp-action="AddRating" method="post">
        <select name="rating">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
            <option value="five">5</option>
        </select>
        <input type="hidden" name="itemID" value="@Model.ID" />
        <br><br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>



<div>
    @if (admin){<a asp-action="Edit" asp-route-id="@Model.ID">Edit</a>} 
    <a asp-action="Index">Back to List</a>
</div>
