@using Microsoft.AspNetCore.Http
@using WebStore.Helpers
@model IEnumerable<WebStore.Models.StockItem>

@{
    ViewData["Title"] = "Index";
    bool admin = Context.Session.GetInt32(SessionKeys.Admin) == 1;
}

<h2>Index</h2>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
            <a asp-action="Index" asp-route-sortOrder="titleAsc" asp-route-searchString="@ViewData["currentFilter"]"><span class="glyphicon glyphicon-arrow-up"></span></a>
            <a asp-action="Index" asp-route-sortOrder="titleDesc" asp-route-searchString="@ViewData["currentFilter"]"><span class="glyphicon glyphicon-arrow-down"></span></a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
            <a asp-action="Index" asp-route-sortOrder="manAsc" asp-route-searchString="@ViewData["currentFilter"]"><span class="glyphicon glyphicon-arrow-up"></span></a>
            <a asp-action="Index" asp-route-sortOrder="manDesc" asp-route-searchString="@ViewData["currentFilter"]"><span class="glyphicon glyphicon-arrow-down"></span></a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
            <a asp-action="Index" asp-route-sortOrder="priceAsc" asp-route-searchString="@ViewData["currentFilter"]"><span class="glyphicon glyphicon-arrow-up"></span></a>
            <a asp-action="Index" asp-route-sortOrder="priceDesc" asp-route-searchString="@ViewData["currentFilter"]"><span class="glyphicon glyphicon-arrow-down"></span></a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
            <a asp-action="Index" asp-route-sortOrder="categoryAsc" asp-route-searchString="@ViewData["currentFilter"]"><span class="glyphicon glyphicon-arrow-up"></span></a>
            <a asp-action="Index" asp-route-sortOrder="categoryDesc" asp-route-searchString="@ViewData["currentFilter"]"><span class="glyphicon glyphicon-arrow-down"></span></a>
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                <img src="@item.ImageUrl" height="50" width ="50" alt="@item.Title"/>
            </td>
            <td>
                @if (admin)
                {
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                }
                else
                {
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                    <a asp-action="AddToCart" asp-route-id="@item.ID">Add To Cart</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

@if (admin)
{
    <a asp-action="Create">Create New</a>
}
